<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/logoo.jpg" type="image/x-icon">
        <link rel="stylesheet" href="/styles/main.css">

        <link rel="stylesheet" href="/styles/user/links.css">

        {% block styles%}{% endblock %}

        <link rel="stylesheet" href="/styles/user/footer.css">
        {% block head %}
            <title>foodfy</title>
        {% endblock %}
    </head>
    <body>

        <header>

            <div class="links">
                <a href="/"><img src="/assets/logo.png" alt="logo"></a>
                <a href="/about">Sobre</a>
                <a href="/recipe">Receitas</a>
            </div>

        </header>

        {% block content %} {% endblock %} 

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>

        </footer>

    </body>
</html>