@import '<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">';

:root{
    --color-black:#111111;
    --color-grey: #777777;
   
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    font-family: 'Roboto', sans-serif;
}

