{% extends "layout.njk" %}

{% block styles%}
    <link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block head %}
    <title>foodfy - home</title>
{% endblock %}

{% block content %}
    <div class="banner">

        <div class="content-text">
            <h1>{{home.title1}}</h1>

            <p>
                {{home.text}}
            </p>

        </div>

        <div class="content-img">
            <img src="{{home.imagem}}" alt="chefe">

        </div>

    </div>

    <div id="title">
        <h1>{{home.title2}}</h1>
    </div>

    <section class="cards">
        
        {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="card__image-container">
                    <img src="{{item.imagem}}" alt="{{item.id}}">
                </div>

                <div class="card__content">
                    <p>{{item.title}}</p>

                </div>

                <div class="card__info">
                    <p>{{item.author}}
                    </p>

                </div>
            </div>    
        {% endfor %}    

    </section>       
{% endblock %}
