{% extends "layout.njk" %}

{% block styles%}
<link rel="stylesheet" href="./styles/home.css">
{% endblock %}

{% block head %}
<title>foodfy - home</title>
{% endblock %}

{% block content %}
    <div class="banner">

        <div class="content-text">
            <h1>As melhores receitas</h1>

            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>

        </div>

        <div class="content-img">
            <img src="assets/chef.png" alt="">

        </div>

    </div>

    <div id="title">
        <h1>Mais acessadas</h1>
    </div>

    <section class="cards">
        

        <div class="card" id="starter">
            <div class="card__image-container">
                <img src="assets/burger.png" alt="burger">
            </div>

            <div class="card__content">
                <p>Triplo bacon burger<p>

            </div>

            <div class="card__info">
                <p>por Jorge Relato
                </p>

            </div>
        </div>    

        <div class="card" id="starter">
            <div class="card__image-container">
                <img src="assets/pizza.png" alt="Pizza">
            </div>

            <div class="card__content">
                <p>Pizza 4 estações<p>

            </div>

            <div class="card__info">
                <p>por Fabiana Melo
                </p>

            </div>
        </div>

        <div class="card" id="starter">
            <div class="card__image-container">
                <img src="assets/espaguete.png" alt="Espaguete">
            </div>

            <div class="card__content">
                <p>Espaguete ao alho<p>

            </div>

            <div class="card__info">
                <p>por Júlia Kinoto
                </p>

            </div>
        </div>        
        
        <div class="card" id="starter">
            <div class="card__image-container">
                <img src="assets/lasanha.png" alt="Lasanha">
            </div>

            <div class="card__content">
                <p>Lasanha mac n’ cheese<p>

            </div>

            <div class="card__info">
                <p>por Juliano Vieira
                </p>

            </div>
        </div>

        <div class="card" id="starter">
            <div class="card__image-container">
                <img src="assets/doce.png" alt="Doce">
            </div>

            <div class="card__content">
                <p>Docinhos pão-do-céu<p>

            </div>

            <div class="card__info">
                <p>por Ricardo Golvea
                </p>

            </div>
        </div>    

        <div class="card" id="starter">
            <div class="card__image-container">
                <img src="assets/asinhas.png" alt="Asinhas de Frango">
            </div>

            <div class="card__content">
                <p>Asinhas de frango ao barbecue<p>

            </div>

            <div class="card__info">
                <p>por Ricardo Golvea
                </p>

            </div>
        </div>                    


    </section>       
{% endblock %}
