{% extends "users/layout.njk" %}


{% block styles %}
    <link rel="stylesheet" href="/styles/not-found.css">
{% endblock styles %}


{% block head %}
    <title>foodfy - not-found</title>
{% endblock %}



{% block content %}
  
    <div class="error">
        <p>Error 404, Não conseguimos encontrar a página desejada</p>
    </div>

{% endblock content %}